body {
	padding-left: 48px;
	padding-right: 48px;
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
}

a {
	color: #00B7FF;
}

p {
	text-align: justify;
	margin: 12px;
	margin-top: 24px;
	margin-bottom: 24px;
}

button {
	margin-top: 16px;
}

h1 {
	margin-bottom: 24px;
}

h5 {
	text-align: left;
	margin: 12px;
	margin-top: 24px;
}
